/* Style the anchor icon */
span[id] {
    color: #1d4ed8 !important;
}

/* Hide the icon in print & exports */
@media print {
    p[id] {
        padding-inline: 0 !important;
    }

    p[id]::before {
        content: none;
    }
}
