.tiptap-editor {

    hr {
        display: block;
        padding-bottom: 0.25rem;
        margin-top: 5px;
        margin-bottom: 5px;
        border-top-width: 1px;
        border-color: #d1d5db; /* border-gray-300 */
        cursor: pointer;
    }

    hr:hover {
        border-color: #93c5fd;
    }

    hr[data-type="pagebreak"] {
        border-top-width: 2px;
        border-style: dashed;
        margin-top: 0.625rem;
        margin-bottom: 0.625rem;
    }

    @media print {
        hr[data-type="pagebreak"] {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            border-width: 0;
            break-before: page;
            page-break-before: always;
        }
    }

    hr.ProseMirror-selectednode {
        border-color: #3b82f6;
    }
}